SERVER_URL=https://evolution.noaman.cloud
AUTHENTICATION_API_KEY=your_api_key_here
CORS_ORIGIN=*

POSTGRES_DATABASE=evolution_db
POSTGRES_USERNAME=evolution
POSTGRES_PASSWORD=evolution_secret

DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI=postgresql://evolution:evolution_secret@evolution-postgres:5432/evolution_db?schema=public
CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://evolution-redis:6379/0
